[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
pillow = "*"
django-countries = "*"
psycopg2-binary = "*"
django-seed = "==0.2.2"
node = "*"
npm = "*"
djangorestframework = "*"
django-filter = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
